// @import 'normalize';

@mixin input() {
    color: #000000;
}

.box{
  font-family: 'Roboto Condensed';

  background-image: url('../images/infinum-logo.png');

  display: flex;

  @include input();
}
